* { padding: 0; margin: 0; }

:root {
    font-size: 14px;
    scroll-behavior: smooth;
    --black: #333333;
    --red: #F05C5C;
    --purple: #7500CB;
    --ofwhite: #E6ECF1;
    --white: #ffffff;
}

body { font-family: 'DM Sans', sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; color: var(--black); background-image: linear-gradient(180deg, #F5F5F5 0%, #F8F6F4 100%); }

a { color: var(--black); text-decoration: none; margin: 0; padding: 0; }
a:hover { color: var(--black); }

h1, h2, h3, h4, h5, h6 { font-family: 'Bangers', system-ui; font-weight: normal; margin: 0; padding: 0; color: var(--black); }
h1 { font-size: 60px; line-height: 64px; }
h2 { font-size: 50px; line-height: 54px; }
h3 { font-size: 40px; line-height: 43px; }
h4 { font-size: 30px; line-height: 32px; }
h5 { font-size: 25px; line-height: 27px; }
h6 { font-size: 18px; line-height: 20px; }

p { font-family: 'DM Sans', sans-serif; font-weight: 400; font-size: 18px; line-height: 30px; margin: 0; padding: 0; color: var(--black); }

ul { padding: 0; margin: 0; list-style: none; }

.fix { position: fixed; bottom: 30px; left: 50%; transform: translateX(-50%); z-index: 1; width: 200px; }
.fix.btn { font-size: 25px; border-radius: 20px; background: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); box-shadow: 5px 5px 10px 0px #B1B7BD, -5px -5px 10px 0px #FFF, 5px 5px 10px 0px #B1B7BD, -5px -5px 10px 0px #FFF; }
.fix.btn:hover { color: var(--purple); }

.btn { padding: 0 20px 0 15px; border-radius: 20px; font-size: 25px; font-family: 'Bangers', system-ui; cursor: pointer; }
.btn:hover { color: var(--red); animation: shadow-pulse 1s infinite; }
.btn:focus { outline: none; }
.btn.white-text:hover { color: var(--white); }
.btn img { margin-right: 5px; }
.btn-white-box-shadow { background: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); box-shadow: 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF; }
.btn-purple-box-shadow { box-shadow: 5px 5px 10px 0px rgba(116, 70, 172, 0.20), -5px -5px 10px 0px #FFF, 5px 5px 10px 0px rgba(116, 70, 172, 0.20), -5px -5px 10px 0px #FFF; }

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(117, 0, 203, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(117, 0, 203, 0);
     }
}

.bangers-font { font-family: 'Bangers', system-ui; }
.black-text { color: var(--black); }
.red-text { color: var(--red); }
.purple-text { color: var(--purple); }
.white-text { color: var(--white); }
.purple-bg { background-color: var(--purple); }

.text-shadow-head { text-shadow: 1px 1px 2px #B1B7BD, -1px -1px 2px #FFF, 1px 1px 2px #B1B7BD, -1px -1px 2px #FFF; }
.text-shadow-head-purple { text-shadow: 0.5px 0.5px 1px #540187, -0.5px -0.5px 1px #DA75FE, 0.5px 0.5px 1px #540187, -0.5px -0.5px 1px #DA75FE; }
.text-shadow { text-shadow: 0.5px 0.5px 1px #B1B7BD, -0.5px -0.5px 1px #FFF, 0.5px 0.5px 1px #B1B7BD, -0.5px -0.5px 1px #FFF; }

header { padding: 30px 0; }
header .container { display: flex; justify-content: space-between; align-items: center; }
.ev-logo a { display: inline-block; width: 100px; height: 100px; border-radius: 50%; padding: 15px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 10px #FFF); }
.ev-logo a span { display: flex; width: 70px; height: 70px; border-radius: 50%; padding: 5px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 20px #FFF); }
.ev-logo a span img { width: 60px; height: 60px; }
.social-icons a { display: inline-block; width: 40px; height: 40px; border-radius: 50%; padding: 4px; margin: 0 5px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 10px #FFF); }
.social-icons a span { display: flex; width: 32px; height: 32px; border-radius: 50%; padding: 8px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 20px #FFF); }
.social-icons a span img { width: 16px; height: 16px; }

.eatverse-shark-tank.mobile { display: none; }
.eatverse-shark-tank { display: flex; align-items: flex-end; margin-bottom: 40px; }
.eatverse-shark-tank span { color: #333; font-size: 18px; font-weight: 400; line-height: 30px; letter-spacing: -0.36px; margin-right: 20px; text-shadow: 0.5px 0.5px 1px #B1B7BD, -0.5px -0.5px 1px #FFF, 0.5px 0.5px 1px #B1B7BD, -0.5px -0.5px 1px #FFF; }
.shark-tank-imgBg { width: 350px; height: 200px; border-radius: 30px; border: 3px solid #E6ECF1; box-shadow: 5px 5px 10px 0px #B1B7BD, -5px -5px 10px 0px #FFF; }
.shark-tank-imgBg img { width: 344px; height: 194px; border-radius: 30px; object-fit: cover; }

.banner h1 { margin-bottom: 20px; }
.banner p { margin-bottom: 30px; }
.planet { position: relative; width: 550px; height: 550px; border-radius: 50%; padding: 110px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(30px 30px 60px #B1B7BD) drop-shadow(-30px -30px 60px #FFF); }
.planet-inner { position: relative; width: 330px; height: 330px; border-radius: 50%; padding: 90px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(30px 30px 60px #B1B7BD) drop-shadow(-30px -30px 60px #FFF); }
.planet-inner .eatverse-logo { width: 150px; height: 150px; }
.company { position: absolute; width: 88px; height: 88px; border-radius: 50%; padding: 8px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(10px 10px 20px #B1B7BD) drop-shadow(-10px -10px 20px #FFF); }
.company span { display: flex; justify-content: center; align-items: center; width: 72px; height: 72px; border-radius: 50%; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(10px 10px 20px #B1B7BD) drop-shadow(-10px -10px 20px #FFF); }
.company span img { width: 72px; height: 72px; border-radius: 50%; }
.company.big { width: 110px; height: 110px; padding: 10px; }
.company.big span { width: 90px; height: 90px; }
.company.big span img { width: 90px; height: 90px; }
.company1 { top: 0; left: 80px; }
.company2 { top: 90px; right: 0; }
.company3 { right: 0; bottom: 100px; }
.company4 { left: 100px; bottom: 0; }
.company5 { top: 200px; left: -40px; }
.company6 { top: -30px; right: 80px; }
.company7 { right: 80px; bottom: -30px; }
.company8 { top: 200px; left: -30px; }



.video { padding: 100px 0; }
.video-bg { width: 100%; height: 500px; border-radius: 100px; padding: 10px; background: linear-gradient(180deg, #FFF 0%, #BA80E5 56.67%, rgba(255, 255, 255, 0.50) 100%); box-shadow: 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF, 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF; backdrop-filter: blur(2px); }
.video-box { position: relative; width: 100%; height: 480px; border-radius: 100px; background: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); box-shadow: 5px 5px 10px 0px #B1B7BD, -5px -5px 10px 0px #FFF; }
.video-box .play-btn { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 90px; height: 90px; border-radius: 50%; padding: 10px; cursor: pointer; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 10px #FFF); }
.video-box .play-btn span { display: flex; width: 70px; height: 70px; border-radius: 50%; padding: 10px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(10px 10px 20px #B1B7BD) drop-shadow(-10px -10px 20px #FFF); }
.video-box .play-btn span img { width: 50px; height: 50px; filter: drop-shadow(10px 10px 20px #B1B7BD) drop-shadow(-1px -1px 2px #FFF); }

.explore-box { border-radius: 100px; padding: 100px 250px; margin: 200px 0; text-align: center; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(20px 20px 40px #B1B7BD) drop-shadow(-20px -20px 40px #FFF) drop-shadow(20px 20px 40px #B1B7BD) drop-shadow(-20px -20px 40px #FFF); }
.explore-box h2 { margin-bottom: 20px; }
.explore-box p { margin-bottom: 50px; }
.explore-box a:hover { color: var(--purple); }

.flavours-through { margin: 100px 0; }
.through-header { text-align: center; }
.through-header h2 { margin-bottom: 20px; }
.through-header p { margin-bottom: 30px; }
.through-header a:hover { color: var(--purple); }

.creators { display: flex; flex-wrap: wrap; margin-top: 50px; position: relative; }
.creators:before { position: absolute; content: ''; width: 10px; height: 91%; border-radius: 10px; top: 60px; left: 50%; transform: translateX(-50%); background: linear-gradient(180deg, #FFF 0%, #F05C5C 56.67%, rgba(255, 255, 255, 0.50) 100%); box-shadow: 5px 5px 10px 0px #B1B7BD, -5px -5px 10px 0px #FFF; }
.creators li { width: 50%; margin-bottom: 70px; position: relative; }
.creators li:last-child { margin-bottom: 0; }
.creators li:nth-child(odd) { padding-right: 50px; }
.creators li:nth-child(even) { padding-left: 50px; }
.creators li:nth-child(even):before { position: absolute; content: ''; width: 30px; height: 30px; top: 45px; left: -15px; border-radius: 50%; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 10px #FFF); }
.creators li:nth-child(even):after { position: absolute; content: ''; width: 18px; height: 18px; border-radius: 50%; top: 51px; left: -9px; background-color: #F05C5C; filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 10px #FFF); }
.creators li .creator-box { display: flex; }
.creators li span.creator-logo { display: flex; width: 120px; height: 120px; border-radius: 50%; padding: 10px; margin-bottom: 20px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(10px 10px 20px #B1B7BD) drop-shadow(-10px -10px 20px #FFF); }
.creators li .creator-logo span { display: flex; justify-content: center; align-items: center; width: 100px; height: 100px; border-radius: 50%; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(10px 10px 20px #B1B7BD) drop-shadow(-10px -10px 20px #FFF); }
.creators li .creator-logo span.p-15 { padding: 15px; }
.creators li .creator-logo span.p-15 img { width: 70px; height: 70px; }
.creators li .creator-logo span img { width: 100px; height: 100px; }
.creators li h4 { margin: 15px 0 10px; text-shadow: 1px 1px 2px #B1B7BD, -1px -1px 2px #FFF, 1px 1px 2px #B1B7BD, -1px -1px 2px #FFF; }
.creators li p { line-height: 25px; text-shadow: 0.5px 0.5px 1px #B1B7BD, -0.5px -0.5px 1px #FFF, 0.5px 0.5px 1px #B1B7BD, -0.5px -0.5px 1px #FFF; }
.creators li h4.red-text { line-height: 120px; margin: 0; }

.through { display: flex; flex-wrap: wrap; justify-content: space-between; }
.through li { width: 45%; }
.through li:last-child { margin-top: 120px; }
.through li .through-box { display: inline-block; padding: 30px 20px; border-radius: 40px; margin: 40px 0; background: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); box-shadow: 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF, 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF; }
.through li .icon { display: flex; justify-content: center; align-items: center; width: 70px; height: 70px; padding: 15px; margin-bottom: 30px; border-radius: 20px; background: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); box-shadow: 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF; }
.through li .icon img { width: 40px; height: 40px; }
.through li h3 { margin-bottom: 10px; }

.creators-verse { margin: 100px 0; }
.creators-box { background: linear-gradient(180deg, rgba(186, 128, 229, 0.10) 0%, rgba(255, 255, 255, 0.50) 100%); box-shadow: 30px 30px 60px 0px #B1B7BD, -30px -30px 60px 0px #FFF, 30px 30px 60px 0px #B1B7BD, -30px -30px 60px 0px #FFF; border-radius: 100px; padding: 100px 100px; }
.creators-header { text-align: center; padding: 0 200px; }
.creators-header h2 { margin-bottom: 10px; }
.creators-header p { margin-bottom: 50px; }
.creators-header a.purple-text:hover { color: var(--purple); }
.creators-header a.red-text:hover { color: var(--red); }

.eatverse-team { display: flex; justify-content: center; margin: 300px 0 150px; }
.team-circle { position: relative; width: 550px; height: 550px; border-radius: 50%; padding: 165px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(30px 30px 60px #B1B7BD) drop-shadow(-30px -30px 60px #FFF); }
.team-circle .eatverse-logo { width: 220px; height: 220px; }
.team { position: absolute; width: 220px; height: 220px; border-radius: 50%; padding: 50px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(20px 20px 40px #B1B7BD) drop-shadow(-10px -10px 20px #FFF); }
.team span { position: relative; display: inline-block; width: 120px; height: 120px; border-radius: 50%; box-shadow: 20px 20px 40px 0px #B1B7BD, -10px -10px 20px 0px #FFF; }
.team span img { width: 120px; height: 120px; }
.team1 { top: -110px; left: 50%; transform: translateX(-50%); }
.team2 { left: -110px; bottom: 55px; }
.team3 { right: -110px; bottom: 55px; }
.team span a { position: absolute; width: 50px; height: 50px; border-radius: 50%; padding: 5px; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 10px #FFF); }
.team span a span { display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; padding: 10px; border-radius: 50%; background-image: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 20px #FFF); }
.team span a span img { width: 20px; height: 20px; filter: drop-shadow(1px 1px 2px #B1B7BD) drop-shadow(-1px -1px 2px #FFF) drop-shadow(1px 1px 2px #B1B7BD) drop-shadow(-1px -1px 2px #FFF); }
.team1 a { top: -60px; right: -30px; }
.team2 a { bottom: 0; left: -75px; }
.team3 a { bottom: 0; right: -75px; }

.eatverse-success { display: flex; justify-content: space-between; flex-wrap: wrap; margin: 100px 0; }
.eatverse-success li { width: 30%; border-radius: 50px; padding: 10px; background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(186, 128, 229, 0.50) 100%); box-shadow: 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF, 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF; }
.eatverse-success li .success-box { border-radius: 50px; padding: 45px; text-align: center; background: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); box-shadow: 2px 2px 4px 0px #B1B7BD, -2px -2px 4px 0px #FFF; }
.eatverse-success li .success-box h1 { font-size: 70px; margin-bottom: 30px; }
.eatverse-success li .success-box h4 { padding: 0 20px; }
.eatverse-success li .success-box h1, .eatverse-success li .success-box h4, .eatverse-customer h2, .editorial-recognition h2 { text-shadow: 2px 2px 4px #B1B7BD, -2px -2px 4px #FFF, 2px 2px 4px #B1B7BD, -2px -2px 4px #FFF; }

.eatverse-customer, .editorial-recognition { text-align: center; }
.eatverse-customer h2, .editorial-recognition h2 { margin-bottom: 30px; }
.eatverse-customer ul, .editorial-recognition ul { display: flex; justify-content: center; }
.eatverse-customer ul li { width: 20%; border-radius: 50px; padding: 20px; margin: 0 25px; background: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); box-shadow: 10px 10px 20px 0px #B1B7BD, -10px -10px 20px 0px #FFF; }

.editorial-recognition { margin: 150px 0; }
.editorial-recognition ul li { width: 120px; height: 120px; border-radius: 50%; padding: 10px; margin: 0 25px; background: linear-gradient(180deg, #E6ECF1 0%, #E6ECF1 100%); filter: drop-shadow(5px 5px 10px #B1B7BD) drop-shadow(-5px -5px 10px #FFF); }
.editorial-recognition ul li span { display: inline-block; width: 100px; height: 100px; border-radius: 50%; box-shadow: 5px 5px 10px 0px #B1B7BD, -5px -5px 10px 0px #FFF; }
.editorial-recognition ul li img { width: 100px; height: 100px; }

footer { display: flex; justify-content: center; position: relative; /*background-image: url('../images/eatverse-footer-bg.svg');*/ background-position: center; background-size: cover; background-repeat: no-repeat; height: 300px; }
footer p { position: absolute; bottom: 40px; }







